@import '../../styles/base'

:host
  background white
  
core-toolbar
  color white-text
  background primary
  
paper-item a
  padding-left 1rem
  text-decoration none
  color black-text
  
#headerPanel ::shadow paper-ripple
  color accent

#headerPanel paper-item.core-selected
  background rgba(accent,.15)
